*.pyc
srunner/challenge/*.pyc
srunner/challenge/__pycache__/
srunner/challenge/envs/*.pyc
srunner/challenge/envs/__pycache__/
srunner/challenge/autoagents/*.pyc
srunner/challenge/autoagents/__pycache__/
srunner/scenariomanager/*.pyc
srunner/scenariomanager/__pycache__/
srunner/scenarios/*.pyc
srunner/scenarios/__pycache__/
srunner/utilities/*.pyc
srunner/utilities/__pycache__/
*.txt
*.log
.project
.pydevproject
