*.pyc
srunner/autoagents/*.pyc
srunner/autoagents/__pycache__/
srunner/scenariomanager/*.pyc
srunner/scenariomanager/__pycache__/
srunner/scenarios/*.pyc
srunner/scenarios/__pycache__/
srunner/utilities/*.pyc
srunner/utilities/__pycache__/
results*.txt
*.json
*.log
.project
.pydevproject
*.png
*.svg
*.dot
