# Python 3.7 - 3.10
opencv-python==4.2.0.32; python_version <= "3.7"
opencv-python~=4.5.5.64,<=4.5.5.64; python_version < "3.10"
opencv-python==4.5.5.64; python_version == "3.10"

# opencv 4.5+ will install numpy>=1.21.2
numpy==1.18.4; python_version >= '3.0' and python_version <= "3.7"

# 2.2 breaks in 3.10
networkx==2.2; python_version < "3.10"

networkx>=2.7<3.0; python_version >= "3.10"

# Python 3.10 + 
opencv-python~=4.5.5.64,<=4.10.0.84; python_version > "3.10"

# Needs to be more fine grained
Shapely==1.7.1; python_version < "3.10"
Shapely==1.8.*; python_version == "3.10"

py-trees==0.8.3

psutil
xmlschema==1.0.18
ephem
tabulate
matplotlib
six
simple-watchdog-timer
antlr4-python3-runtime==4.10
graphviz
